.square-cell {
    position: relative;
    width: 100%;
    padding-top: 100%;
    /* Equal to width for a 1:1 aspect ratio */
}

.square-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}