@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Segoe UI';
    src: url('../assets/fonts/segoe/Segoe UI.ttf') format('truetype');
}

body {
    font-family: "Segoe UI", "sans", serif
}

.slick-prev:before,
.slick-next:before {
    color: #0090F8 !important;
    font-size: 25px !important;
}